# Custom PhpStan configuration for Symfony projects using Doctrine
# Extends the Symfony configuration (phpstan-symfony.neon)
# Customization: Doctrine support
includes:
    - phpstan-symfony.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    doctrine:
        literalString: true
        objectManagerLoader: %currentWorkingDirectory%/.phpstan/get_doctrine_manager.php
        reportDynamicQueryBuilders: true
        reportUnknownTypes: true
