# Custom PhpStan configuration for Symfony projects
# Extends the base configuration (phpstan.neon)
# Customization: exclude some files
includes:
    - phpstan.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    paths:
        - %currentWorkingDirectory%/tests
    excludePaths:
        analyse:
            # External file created by the framework.
            # Error:
            # Call to function method_exists() with 'Symfony\\Component\\Dotenv\\Dotenv' and 'bootEnv' will always evaluate to true.
            # (?) - file might not exist
            - *tests/bootstrap.php

    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml
